// Device width boundaries:
// ^
// | large desktop
$media-width-xlarge: 100rem;
// ^
// | desktop
// V
$media-width-large: 64rem;
// ^
// | large
// V
$media-width-medium: 50rem;
// ^
// | medium
// V
$media-width-small: 35rem;
// | small
// V
