@mixin drop-shadow {
  box-shadow: 0 2px 4px $color-shadow;
}

@mixin scale($param, $base, $factor: .5) {
  #{$param}: $base;

  @media (max-width: $media-width-medium) {
    #{$param}: $base * (1 + $factor) / 2;
  }

  @media (max-width: $media-width-small) {
    #{$param}: $base * $factor;
  }
}

@mixin sidespill($amount: 5px) {
  margin-left: -$amount;
  margin-right: -$amount;
  padding-left: $amount;
  padding-right: $amount;
}

@mixin light {
  color: $color-light-text;

  h3,
  h4 {
    color: $color-white-text;
  }
}

@mixin medium {
  color: $color-medium-text;

  a {
    color: $color-dark-link-text;

    &.active {
      color: $color-medium-text;
    }
  }

  h3,
  h4 {
    color: $color-dark-text;
  }
}

@mixin dark {
  color: $color-dark-text;

  a {
    color: $color-dark-link-text;

    &.active {
      color: $color-medium-text;
    }
  }
}
