#charities {
  background-color: $color-charities;
  color: $color-dark-text;

  a {
    color: $color-dark-link-text;

    &:active {
      color: $color-medium-text;
    }
  }

  .charity {
    @include column(1/2);

    @media (max-width: $media-width-medium) {
      @include stack;
    }
  }
}
