html,
body {
  height: 100%;
}

body {
  background-color: $color-night-sky;
  color: $color-white-text;
  font-family: $font-body;
}

section,
footer {
  padding: 5rem 2rem;
  z-index: 0;
}

h1,
h2 {
  font-family: $font-title;
}

h3,
h4,
h5 {
  font-family: $font-header;
}

h1 {
  @include scale(font-size, 4rem);

  margin: 0;
  text-align: center;
  white-space: nowrap;
}

h2 {
  @include scale(font-size, 3.2rem);

  font-weight: normal;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;

  &::after {
    content: '\00a0\00a0\00a0——';
    display: inline-block;
    font-family: 'Cinzel';  // Bit of a hack.
  }

  &::before {
    content: '——\00a0\00a0\00a0';
    display: inline-block;
    font-family: 'Cinzel';
  }
}

h4 {
  border-bottom: 1px solid;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;
}

h5 {
  margin-bottom: .75rem;
  margin-top: 2rem;
  text-align: center;
}

ul:not(.display) {
  list-style: none;
  padding: 0;
}

table {
  width: 100%;
}

a {
  color: $color-link;

  &:active {
    color: $color-link-active;
  }
}

.header-row {
  font-weight: bold;
}

.overflow-wrapper {
  overflow-x: hidden;
}

.center {
  @include center(50rem);
}

.small {
  @media (min-width: $media-width-small) {
    display: none;
  }
}

.right {
  text-align: right;
  width: 100%;
}

.back {
  color: $color-white-text;
  display: block;
  float: left;
  font-size: 2rem;
  padding: 1.2rem;
  margin-left: 1rem;
}

%clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
  }
}
