header {
  .moon {
    position: absolute;
    right: 12%;
    top: 8%;
    width: 5rem;
    z-index: -1;
  }

  .container {
    // This offsets the big-top, accounting for the fact that small screens tend to be portrait.
    @include scale(margin-bottom, 3rem, 1.4);

    // Vertically centre the title and logo...
    align-items: center;
    // ...and horizontally centre.
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .logo {
    @include scale(width, 8rem);
    margin-bottom: .7rem;
    margin-right: 1.5rem;
  }

  .title {
    text-align: center;
  }

  .big-top {
    @include scale(height, 48vw, 1.8);
    @include sidespill;

    background-image: url('../img/big_top.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  nav {
    @include scale(height, 6rem, 1.3);
    @include scale(margin-bottom, -6rem, .6);
    @include sidespill;

    background-image: url('../img/nav.svg');
    background-position: center top;
    background-repeat: repeat-x;
    background-size: contain;
    margin-top: -1px;  // Fix gap between svgs.
    position: relative;
    width: 100%;
    z-index: 1;

    // Ok, so I'm not happy about this, but it works quite well.
    @media (max-width: $media-width-medium) {
      background-size: cover;
    }
  }

  .entrance {
    @include scale(height, 42vw, 1.4);
    @include sidespill;

    background-image: url('../img/entrance.svg');
    background-position: center top;
    background-repeat: repeat-xx;
    background-size: cover;
    margin-bottom: -1px;  // Fix gap between svgs.
    width: 100%;
  }
}
