header {
  .moon {
    position: absolute;
    right: 12%;
    top: 8%;
    width: 5rem;
    z-index: -1;
  }

  .container {
    // This offsets the big-top, accounting for the fact that small screens tend to be portrait.
    @include scale(margin-bottom, 3rem, 1.4);

    // Vertically centre the title and logo...
    align-items: center;
    // ...and horizontally centre.
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  .logo {
    @include scale(width, 8rem);
    margin-bottom: .7rem;
    margin-right: 1.5rem;
  }

  .title {
    text-align: center;
  }

  .big-top {
    @include scale(height, 48vw, 1.8);
    @include sidespill;

    background-image: url('../img/big_top.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .canopy {
    margin-bottom: -2rem;
    margin-top: -1px;  // Fix gap between svgs.
    position: relative;
    width: 100% !important;  // !important to avoid issues when pinned.
    z-index: 1;

    // Jagged edge CSS hack.
    &::after {
      background-image: linear-gradient(145deg, $color-deep-red 33%, transparent 33%),
                        linear-gradient(35deg, transparent 66%, $color-deep-red 66%);
      background-position: 50% 100%;
      background-repeat: repeat-x;
      background-size: 2rem 2rem;
      content: '';
      display: block;
      height: 2rem;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  nav {
    background-color: $color-deep-red;
  }

  nav ul {
    @extend %clearfix;

    margin: 0;
    padding: 0 1rem;
    text-align: center;

    @media (max-width: $media-width-small) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 300ms;

      &.open {
        max-height: 60vh;
      }
    }
  }

  nav li {
    @include column(1/5);

    @media (max-width: $media-width-small) {
      @include stack;
    }
  }

  nav a {
    color: $color-light-text;
    display: block;
    font-family: $font-header;
    font-weight: bold;
    padding: 1rem 0;
    white-space: nowrap;

    &:hover::after {
      content: '\00a0\00a0\00a0—';
      display: inline-block;
    }

    &:hover::before {
      content: '—\00a0\00a0\00a0';
      display: inline-block;
    }

    &:active {
      color: $color-light-text;
    }
  }

  nav .hamburger {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    margin: 0 auto;
    padding: 1rem 0;
  }

  .entrance {
    @include scale(height, 42vw, 1.4);
    @include sidespill;

    background-image: url('../img/entrance.svg');
    background-position: center top;
    background-repeat: repeat-xx;
    background-size: cover;
    margin-bottom: -1px;  // Fix gap between svgs.
    width: 100%;
  }
}
