#sponsorship {
  @include medium;

  background-color: $color-sponsorship;

  .sponsors {
    background: $color-sponsor-bar;
    margin: 0 -2rem;
    padding: 1.5rem 2rem;
    width: 100%;

    ul {
      @extend %clearfix;
    }

    li {
      @include column(1/2);

      @media (min-width: $media-width-medium) {
        div {
          text-align: center;
        }
      }

      @media (max-width: $media-width-medium) {
        @include stack;

        &:not(:first-child) {
          border-top: solid 2px $color-dark-text;
          margin-top: 1.5rem;
          padding-top: 1rem;
        }
      }
    }

    img {
      max-width: 100%;
    }
  }
}
