// Libraries:
@import 'jeet/index';

// Partials:
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/media';
@import 'partials/mixins';

// Includes:
@import 'includes/header';

html,
body {
  height: 100%;
}

body {
  background-color: $color-night-sky;
  color: $color-light-text;
  font-family: $font-body;
}

a {
  color: $color-link;
  text-decoration: none;

  &:active {
    color: $color-link-active;
  }
}

.container {
  @include center(800px);
}
