// Libraries:
@import 'jeet/index';

// Partials:
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/media';
@import 'partials/mixins';

// Includes:
@import 'includes/header';
@import 'includes/about';
@import 'includes/hamburger';
@import 'includes/ticketing';
@import 'includes/workers';
@import 'includes/ents';
@import 'includes/sponsorship';
@import 'includes/charities';
@import 'includes/footer';

html,
body {
  height: 100%;
}

body {
  background-color: $color-night-sky;
  color: $color-white-text;
  font-family: $font-body;

  // Preload css backgrounds.
  &::after {
    content: url('../img/ticket_machine-01.svg')
             url('../img/ticket_machine-02.svg')
             url('../img/ticket_machine-03.svg');
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
  }
}

section,
footer {
  padding: 5rem 2rem;
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-header;
}

h1 {
  @include scale(font-size, 4rem);

  margin: 0;
  text-align: center;
  white-space: nowrap;
}

h2 {
  @include scale(font-size, 3.2rem);

  font-weight: normal;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;

  &::after {
    content: '\00a0\00a0\00a0—';
    display: inline-block;
  }

  &::before {
    content: '—\00a0\00a0\00a0';
    display: inline-block;
  }
}

h4 {
  border-bottom: 1px solid;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: .2rem;
}

h5 {
  margin-bottom: .5rem;
  margin-top: .8rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $color-link;
  text-decoration: none;

  &:active {
    color: $color-link-active;
  }
}

.overflow-wrapper {
  overflow-x: hidden;
}

.center {
  @include center(50rem);
}

.small {
  @media (min-width: $media-width-small) {
    display: none;
  }
}

.right {
  text-align: right;
  width: 100%;
}

%clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
  }
}
