// Libraries:
@import 'jeet/index';

// Partials:
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/media';
@import 'partials/mixins';

// Includes:
@import 'includes/core';
@import 'includes/header';
@import 'includes/about';
@import 'includes/hamburger';
@import 'includes/ticketing';
@import 'includes/workers';
@import 'includes/ents';
@import 'includes/sponsorship';
@import 'includes/charities';
@import 'includes/committee';
@import 'includes/footer';

body {
  // Preload css backgrounds.
  &::after {
    content: url('../img/ticket_machine-01.svg')
             url('../img/ticket_machine-02.svg')
             url('../img/ticket_machine-03.svg');
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
  }
}
