// Libraries:
@import 'jeet/index';

// Partials:
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/media';
@import 'partials/mixins';

// Includes:
@import 'includes/core';
@import 'includes/header';
@import 'includes/footer';

#workers {
  @include light;

  padding-top: 2rem;

  ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 2rem;

    li {
      padding-left: .5rem;
    }
  }

  td:not(:first-child) {
    text-align: center;
  }

  .emphasis {
    font-size: 1.2rem;
    display: block;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
